.page-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0.5px solid #323935;
  border-radius: 10px;
  background-color: #00f092;
  box-shadow: 3px 3px 0px #fbb606;
  cursor: pointer;
  margin-top: 30px;
}
