.merch{
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.merch-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media(max-width:480px){
  .merch-title p{
    font-size: 15px;
  }
}